.register-form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10.0em;
    width: 80%;
}

.name-input {
    padding: 10px;
    margin-left: 5px;
    margin-right: 10px;
}