.signUpForm {
    text-align: center;
    margin: 0 auto;
    display: grid;
    width: 30%;
    padding-top: 2%;
    padding: 2%;
    border-style: solid;
    border-width: 2px;
    border-color: lightblue
    
}

input {
    height: 25px;
    /* margin-bottom: 5px; */
}

value {
    text-align: left;
}

.next {
    height: 30px;
}


